.causes {
    width: 300px;
}



.types {
    width: 300px;

}


h1, h2 {
    color: teal;
}



li {
    color: green;
}

p {
    color: green;
}


body {
    font-family: cursive;
}

body {
    font-size: 20px;
}