.causes {
    width: 400px;
}

.effects {
    width: 400px;
}

.addition {
    width: 400px;
}

.omission {
    width: 400px;

}


.design {
    width: 400px;
}

.material {
    width: 400px;
}

.types {
    width: 300px;

}


h1, h2 {
    color: teal;
}



li {
    color: green;
}

p {
    color: green;
}


body {
    font-family: cursive;
}

body {
    font-size: 20px;
}